:root{
    --colorPrimary: #e23636;
    --colorSecundary: #000000;
    --colorGrey: #504a4a;
    --colorLetter: #ffffff;
    --strongRed: #e62429;
    --colorDc: 	#3268bd;
    --backgroundButton: #3d3a4e;
}